.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {

  height: 70px;
  width: 100%;
  background-color: #333;
  margin-bottom: 30px;

}


#canvas {
  background-color: white;
  border: 1px solid black;
  cursor: crosshair;
  height: 800px;
  width: 1200px;
  position: relative;

}

.menu {
  opacity: 0.5;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  background-color: #1e1f1e;
  color: white;
}

.content-container {

  display: flex;
  width: 80%;
  margin: 0px auto;
  justify-content: space-between;
  align-items: flex-start;

}

.menu-items {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;

}

.menu-item {

  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-style: bold;
  text-align: center;

}

.menu-options-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #221c1c;
  color: white;
  text-align: center;
  align-items: center;
  position: relative;
}

.menu-options {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  background-color: #1e1f1e;
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border: none;
  opacity: 1.0;
  position: relative;

}

.menu-options:hover {
  font: white;
  text-decoration: underline;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border: none;
}

#stroke {

  height: 35px;
  width: 150px;
  margin: 10px auto;
  background-color: none;
  border: none;
}

.footer {

  height: 70px;
  display: flex;
  width: 100%;
  margin-top: 10px;
  background-color: #333;
  justify-content: center;
  position: fixed;
  bottom: 0;
}