body {

  background-color: rgb(39, 36, 36);

}

a {

  font-family: "Inconsolata", monospace;
  font-size: 18px;
  color: rgb(5, 196, 5);
  text-decoration: underline;


}

h2 {

  font-family: "Inconsolata", monospace;
  font-size: 23px;
  color: rgb(5, 196, 5);
  text-align: center;
}



label {

  font-family: "Inconsolata", monospace;
  font-size: 15px;
  color: rgb(5, 196, 5);

}
.undoredo {

  display: grid;
  height: 50px;
  width: 50px;
}


.navigation {

  font-family: "Inconsolata", monospace;
  height: 50px;
  width: 100%;
  background-color: #333;
  margin-bottom: 30px;

}

#canvas {
  background-color: white;
  border: 2px solid #333;
  cursor: crosshair;
  height: 800px;
  width: 1200px;
  position: relative;
  border-radius: 5px;

}

.menu {

  font-family: "Inconsolata", monospace;
  font-size: 18px;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  color: rgb(9, 179, 9);
  border: 2px solid rgb(9, 179, 9);
  border-radius: 5px;

}

.content-container {

  display: flex;
  width: 80%;
  margin: 0px auto;
  justify-content: space-between;
  align-items: flex-start;

}

.shapes {

  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}


.shape-item {
  margin: 0 auto;
  padding: 10px;
  align-items:center;
}

.shape-options {

  background: none;
  border: none;
  cursor: pointer;
}

.shape-options img {
  width: 50px; 
  height: 50px; 
}

.menu-items {

  display: flex;
  flex-direction: column;
}

.menu-item {

  font-family: "Inconsolata", monospace;
  color:rgb(5, 196, 5);
  font-size: 18px;
  font-style: bold;

}

.menu-options {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border: none;
  opacity: 1.0;
  position: relative;

}



.shape-options {

  height: 60px;
  width: 60px;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid rgb(9, 179, 9);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.shape-options:hover {

  background-color: rgb(12, 177, 53);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  cursor: pointer;

}

#stroke, #fill {

  height: 35px;
  width: 150px;
  margin: 2px auto;
  background-color: none;
  border: none;
}

#stroke:hover, #fill:hover {

  cursor: pointer;

}

#lineWidth{

  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 8px; 
  background: #ddd; 
  outline: none;
  color:rgb(5, 196, 5);
  transition: opacity .2s;

}

#lineWidth::-moz-range-thumb {
  width: 15px; 
  height: 15px; 
  background: black; 
  border: 1px solid #000; 
  border-radius: 50%; 
  cursor: pointer; 
}

#lineWidth::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px; 
  background: rgb(5, 196, 5); 
  border-radius: 5px; 
  border: 1px solid #000; 
}

#lineWidth::-moz-range-track {
  width: 100%;
  height: 8px; 
  background: rgb(5, 196, 5); 
  border-radius: 5px; 
  border: 1px solid #000; 
}


.menu-button {

  display: flex;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  margin: 5px auto;
  background-color: rgb(9, 179, 9);
  border: none;
  border-radius: 5px;
  color: black;
  margin-bottom: 10px;

}


.menu-button:hover {

  background-color: rgb(14, 160, 38);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;

}

.checkbox {

  height: 20px;
  width: 50px;
  border: 2px solid rgb(9, 179, 9);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  float: left;

}


.progress-buttons {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.redo-button, .undo-button {

  font-family: "Inconsolata", monospace;
  height: fit-content;
  width: fit-content;
  padding: 8px;
  margin: 1px auto;
  font-size: 17px;
  background-color: rgb(9, 179, 9);
  border: none;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;

}

.redo-button:hover, .undo-button:hover {

  background-color: rgb(14, 160, 38);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;

}

.socials {

  height: 50px;
  width: 50px;
  margin: 10px;
  padding: 5px;
  border-radius: 25px;
  vertical-align:middle;
}

.footer-3 span, .footer-3 a {
  display: inline-block;
  vertical-align: middle;
}

.footer {

  display: flex;
  height: 75px;
  margin: 0px auto;
  font-size: 17px;
  font-family: "Inconsolata", monospace;
  padding: 10px;
  color: rgb(5, 196, 5);
  background-color: #333;
  justify-content: space-between; 
  align-items: center; 

}

.footer-1, .footer-2, .footer-3 {
  flex:0.23;
  margin: 10px;
  padding: 10px;
  vertical-align:middle;
}