body {

  background-color: rgb(39, 36, 36);

}

.navigation {

  height: 50px;
  width: 100%;
  background-color: #333;
  margin-bottom: 30px;

}


#canvas {
  background-color: white;
  border: 2px solid #333;
  cursor: crosshair;
  height: 800px;
  width: 1200px;
  position: relative;
  border-radius: 5px;

}

.menu {

  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 15px;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;

}

.content-container {

  display: flex;
  width: 80%;
  margin: 0px auto;
  justify-content: space-between;
  align-items: flex-start;

}

.shapes {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
}

.shape-item {
  margin: 0 auto;
  margin: 5px;

}


.menu-items {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;

}

.menu-item {

  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  color: black;
  font-size: 18px;
  font-style: bold;
  text-align: center;

}

.menu-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  position: relative;
}

.menu-options {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  background-color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border: none;
  opacity: 1.0;
  position: relative;

}

.menu-options:hover {
  font: white;
  text-decoration: underline;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border: none;
}

.shape-options {

  height: 60px;
  width: 65px;
  margin: 0 auto;
  background-color: white;
  border: 2px solid rgb(103, 191, 218);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.shape-options:hover {

  background-color: rgb(103, 191, 218);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  cursor: pointer;

}

#stroke, #fill {

  height: 35px;
  width: 150px;
  margin: 2px auto;
  background-color: none;
  border: none;
}

#stroke:hover, #fill:hover {

  cursor: pointer;

}

.menu-button {

  height: 40px;
  width: fit-content;
  margin: 0px auto;
  padding: 10px;
  font-size: 17px;
  background-color: rgb(21, 106, 233);
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;

}

.menu-button:hover {

  background-color: rgb(48, 109, 199);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;

}

.checkbox {

  height: 20px;
  width: 50px;
  background-color: white;
  border: 2px solid rgb(103, 191, 218);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  float: left;

}


.progress-buttons {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.redo-button, .undo-button {

  height: fit-content;
  width: fit-content;
  padding: 8px;
  margin: 1px auto;
  font-size: 15px;
  background-color: rgb(21, 106, 233);
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;


}

.redo-button:hover, .undo-button:hover {

  background-color: rgb(48, 109, 199);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;

}

.footer {

  height: 50px;
  display: flex;
  width: 100%;
  margin-top: 10px;
  background-color: #333;
  justify-content: center;
  position: fixed;
  bottom: 0;
}